{
  "presets": [
    ["@babel/preset-env", { "targets": { "node": "current" } }],
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    [
      "module-resolver",
      {
        "alias": {
          "@infra": "./src/core/infra",
          "@src": "./src",
          "@models": "./src/core/models/index",
          "@repositories": "./src/core/repositories/index",
          "@services": "./src/core/services/index",
          "@controllers": "./src/core/controllers/index",
          "@handlers": "./src/core/handlers/index",
          "@errors": "./src/core/customErrors/index"
        }
      }
    ]
  ],
  "ignore": ["**/*.spec.ts", "**/*.yaml", "**/*.yml"]
}
