{
  "presets": ["@babel/preset-env", "@babel/preset-typescript", "minify"],
  "ignore": ["**/*.spec.ts", "**/*.yaml", "**/*.yml"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@infra": "./src/core/infra",
          "@src": "./src",
          "@models": "./src/core/models/index.ts",
          "@repositories": "./src/core/repositories/index.ts",
          "@services": "./src/core/services/index.ts",
          "@controllers": "./src/core/controllers/index.ts",
          "@handlers": "./src/core/handlers/index.ts",
          "@errors": "./src/core/customErrors/index.ts"
        }
      }
    ]
  ]
}
